
.class-tecnologia  {

    padding: 2%;
    margin-left:  15%;
    margin-right: 15%;
    background-color: #272324;

}

.class-alinhamento-lateral {

    display: flex;
    flex-direction: row;
    background-color: #373435;

}

.class-esquerda-tecnologia {

    display: flex;
    flex-direction: column;
    flex: 60%;
    padding: 2;
    justify-content: center;
    background-color: #272324;

}

.class-direita-tecnologia {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 30%;

}

.class-div-titulo-tecnologias {

    flex: 20%;
    background-color: #272324;

}

.class-titulo-tecnologias {

    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2%;
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    background-color: #272324;
    color: #F39C12;

}

.class-div-icones-h2 {

    display: flex;
    flex-wrap: wrap;
    margin-right: 2%;
    justify-content: left;
    align-content: flex-end;
    background-color: #272324;

}

.class-icones-tecnologias {

    margin-top: 1%;
    margin-right: 1%;
    width: 11.3%;
    right: 11.3%;
    border-radius: 10%;

}

.class-nome-tecnologia {

    color: #F39C12;

}

.class-breve-exp-tecnologica {

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 0;
    font-size: clamp(0.5rem, 1vw, 1rem);

}